<div class="agregarForm">    
    <form action="/admin/recetas/modificar" method="post" enctype="multipart/form-data">
        <input type="hidden" value="{{receta.id}}" name="id">

        <label for="titulo">Título</label>
        <input type="text" id="titulo" name="titulo" value="{{receta.titulo}}">

        <label for="ingredientes">Ingredientes</label>
        <textarea name="ingredientes" id="ingredientes" cols="50" rows="5">{{receta.ingredientes}}</textarea>

        <label for="preparacion">Preparación</label>
        <textarea name="preparacion" id="preparacion" cols="50" rows="10" >{{receta.preparacion}}</textarea>

        <label>Imagen: <input type="file" name="imagen" id="imagen"/> </label>
        <label><input type="checkbox" name="img_delete" id="img_delete" value="1">Eliminar imagen actual?</label>
        <input type="hidden" name="img_original" value="{{receta.img_id}}">
        
        <button type="submit" class="loginBtn">Modificar</button>
    </form>

    {{#if error}}
        {{message}}
    {{/if}}
</div>    
